.item-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.item-details__image {
    width: 10%;
    height: 10%;
    border-radius: 10px;
}

.item-details__item {
    padding: .25rem;
}

.item-details__term {
    margin-right: .5rem;
}